COMPOSE_MYSQL_DSN=sociomile:sociomile@tcp(mysql:3306)/sociomile?parseTime=true&multiStatements=true
COMPOSE_REDIS_ADDR=redis:6379
COMPOSE_RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
COMPOSE_VITE_API_BASE_URL=http://localhost:8080/api/v1
COMPOSE_VITE_APP_NAME=Sociomile
COMPOSE_VITE_APP_VERSION=
COMPOSE_SWAGGER_FILE=./docs/openapi.yaml