APP_ENV=development
BACKEND_PORT=8080
MYSQL_DSN=sociomile:sociomile@tcp(localhost:13306)/sociomile?parseTime=true&multiStatements=true
REDIS_ADDR=localhost:16379
REDIS_PASSWORD=
RABBITMQ_URL=amqp://guest:guest@localhost:5672/
JWT_SECRET=sociomile-local-dev-secret
ACCESS_TOKEN_TTL=15m
LOG_LEVEL=debug
SWAGGER_FILE=./docs/openapi.yaml